@import "./mixin";

:root {
  background: linear-gradient(rgb(242, 234, 219), rgb(218, 147, 16));
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
  font-weight: 700;
  color: rgb(111, 104, 75);

  @include mobile {
    font-size: 3rem;
    margin: 3rem 0;
  }

  @include tablet {
    font-size: 5rem;
    margin: 3rem 0;
  }
  @include laptop {
    font-size: 5rem;
    margin: 3rem 0 5rem;
  }
}
.hr-dashed {
  border: 0px;
  border-top: 5px dashed #75745c5b;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  cursor: pointer;
  list-style-type: square;
  display: flex;
  margin: 0;
  @include mobile {
    flex-flow: row wrap;
  }
  @include tablet {
    justify-content: space-around;
  }
  @include laptop {
    justify-content: space-around;
  }
}

li {
  font-weight: 100;
  font-weight: 300;
  @include mobile {
    font-size: 1.1rem;
    width: 50%;
    margin: 1.2rem 0;
  }

  @include tablet {
    font-size: 1.4rem;
    width: 25%;
    margin: 2rem 0;
  }
  @include laptop {
    font-size: 2rem;
    margin: 2rem 0;
  }
}

li:hover {
  font-weight: 400;
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.highlight {
  display: inline-block;
  position: relative;
}
.highlight:hover {
  background: linear-gradient(to top, #ffe400 50%, transparent 50%);
}

.address {
  display: flex;
  justify-content: center;
  @include mobile {
    gap: 2rem;
  }
  @include tablet {
    gap: 5rem;
  }

  @include laptop {
    gap: 7rem;
  }

  .icon_google {
    @include mobile {
      width: 2.2rem;
    }
    @include tablet {
      width: 3rem;
    }
    @include laptop {
      width: 4rem;
    }
  }
  .icon_jeepgo {
    @include mobile {
      width: 7rem;
      margin-top: 0.4rem;
    }
    @include tablet {
      width: 8.5rem;
      margin-top: 1rem;
    }
    @include laptop {
      width: 11rem;
      margin-top: 2rem;
    }
  }
  .icon_trip {
    @include mobile {
      width: 3.5rem;
    }
    @include tablet {
      width: 5rem;
    }
    @include laptop {
      width: 7rem;
    }
  }

  .icon_ig {
    @include mobile {
      width: 3.5rem;
    }
    @include tablet {
      width: 5rem;
    }
    @include laptop {
      width: 7rem;
    }
  }
}

.line {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin: 2rem 0;
  font-weight: 300;
  @include mobile {
    font-size: 2rem;
  }

  @include tablet {
    font-size: 4rem;
  }
  @include laptop {
    font-size: 4rem;
  }
}

.line::before {
  content: "";
  flex-grow: 1;
  margin: 0px 16px;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}
.line::after {
  content: "";
  flex-grow: 1;
  margin: 0px 16px;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.each_menu {
  display: flex;
  margin-bottom: 2rem;
  .img_side {
    margin: 0;
    width: 50%;
  }
  img {
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // box-sizing: border-box;
  }
  .desc_side {
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }
}
