:root {
  background: linear-gradient(rgb(242, 234, 219), rgb(218, 147, 16));
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
  font-weight: 700;
  color: rgb(111, 104, 75);
}
@media (min-width: 335px) and (max-width: 719px) {
  header {
    font-size: 3rem;
    margin: 3rem 0;
  }
}
@media (min-width: 720px) and (max-width: 1023px) {
  header {
    font-size: 5rem;
    margin: 3rem 0;
  }
}
@media (min-width: 1024px) {
  header {
    font-size: 5rem;
    margin: 3rem 0 5rem;
  }
}

.hr-dashed {
  border: 0px;
  border-top: 5px dashed rgba(117, 116, 92, 0.3568627451);
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  cursor: pointer;
  list-style-type: square;
  display: flex;
  margin: 0;
}
@media (min-width: 335px) and (max-width: 719px) {
  ul {
    flex-flow: row wrap;
  }
}
@media (min-width: 720px) and (max-width: 1023px) {
  ul {
    justify-content: space-around;
  }
}
@media (min-width: 1024px) {
  ul {
    justify-content: space-around;
  }
}

li {
  font-weight: 100;
  font-weight: 300;
}
@media (min-width: 335px) and (max-width: 719px) {
  li {
    font-size: 1.1rem;
    width: 50%;
    margin: 1.2rem 0;
  }
}
@media (min-width: 720px) and (max-width: 1023px) {
  li {
    font-size: 1.4rem;
    width: 25%;
    margin: 2rem 0;
  }
}
@media (min-width: 1024px) {
  li {
    font-size: 2rem;
    margin: 2rem 0;
  }
}

li:hover {
  font-weight: 400;
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.highlight {
  display: inline-block;
  position: relative;
}

.highlight:hover {
  background: linear-gradient(to top, #ffe400 50%, transparent 50%);
}

.address {
  display: flex;
  justify-content: center;
}
@media (min-width: 335px) and (max-width: 719px) {
  .address {
    gap: 2rem;
  }
}
@media (min-width: 720px) and (max-width: 1023px) {
  .address {
    gap: 5rem;
  }
}
@media (min-width: 1024px) {
  .address {
    gap: 7rem;
  }
}
@media (min-width: 335px) and (max-width: 719px) {
  .address .icon_google {
    width: 2.2rem;
  }
}
@media (min-width: 720px) and (max-width: 1023px) {
  .address .icon_google {
    width: 3rem;
  }
}
@media (min-width: 1024px) {
  .address .icon_google {
    width: 4rem;
  }
}
@media (min-width: 335px) and (max-width: 719px) {
  .address .icon_jeepgo {
    width: 7rem;
    margin-top: 0.4rem;
  }
}
@media (min-width: 720px) and (max-width: 1023px) {
  .address .icon_jeepgo {
    width: 8.5rem;
    margin-top: 1rem;
  }
}
@media (min-width: 1024px) {
  .address .icon_jeepgo {
    width: 11rem;
    margin-top: 2rem;
  }
}
@media (min-width: 335px) and (max-width: 719px) {
  .address .icon_trip {
    width: 3.5rem;
  }
}
@media (min-width: 720px) and (max-width: 1023px) {
  .address .icon_trip {
    width: 5rem;
  }
}
@media (min-width: 1024px) {
  .address .icon_trip {
    width: 7rem;
  }
}
@media (min-width: 335px) and (max-width: 719px) {
  .address .icon_ig {
    width: 3.5rem;
  }
}
@media (min-width: 720px) and (max-width: 1023px) {
  .address .icon_ig {
    width: 5rem;
  }
}
@media (min-width: 1024px) {
  .address .icon_ig {
    width: 7rem;
  }
}

.line {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin: 2rem 0;
  font-weight: 300;
}
@media (min-width: 335px) and (max-width: 719px) {
  .line {
    font-size: 2rem;
  }
}
@media (min-width: 720px) and (max-width: 1023px) {
  .line {
    font-size: 4rem;
  }
}
@media (min-width: 1024px) {
  .line {
    font-size: 4rem;
  }
}

.line::before {
  content: "";
  flex-grow: 1;
  margin: 0px 16px;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.line::after {
  content: "";
  flex-grow: 1;
  margin: 0px 16px;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.each_menu {
  display: flex;
  margin-bottom: 2rem;
}
.each_menu .img_side {
  margin: 0;
  width: 50%;
}
.each_menu img {
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.each_menu .desc_side {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
